//画面比６：７、＝４６％：５４％//
#first-v{
    width: 100%;
    color: #000000;
    height: 800px;
    background-color: #FFFFFF;  
    display: flex;
    justify-content: space-between;
    position: relative;
}
.half-wrap{
     width: 46%;
     height: 800px;
   
    .fvhalf{
    height: 214px;
    width: 390px;
    position: absolute;
    top: 296px;
    left: 8%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .mess1{
        width: 326px;
        font-size: 38px;
        font-family: 'ヒラギノ明朝 Pro';
        margin-bottom: 48px;
        margin-left: 56px;
        text-align: left;
        z-index: 3;

    }
    .mess2{
        font-size: 38px;
        font-family: 'Zapfino'; 
        width: 100%;
        height: 128px;
        z-index: 3;
        text-align: center;
        line-height: 128px;
    }
    }
}
.imv{
    width: 54%;
    height: 800px;
    background-image: URL("../img/component.png");
    background-repeat: no-repeat;
    background-size: cover;
    // background-size: contain;//
    // background-position: right;//
}