panel {
  width: 310px;
  height: 340px;
  overflow: hidden;
}

.card {
  width: 60px;
  height: 80px;
  line-height: 80px;
  border: 1px solid silver;
  border-radius: 10px;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  box-shadow: gray 2px 2px;
  background: white;
  float: left;
  cursor: pointer;
}
/* 裏の状態 */
.back {
  background-size: 60px 80px;
  background-color: rgb(45, 139, 50);
}

.finish {
  opacity: 0;
  cursor: default;
}
